<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Authentification</title>
        <link rel="stylesheet" href="/path/to/your/custom/styles.css"> <!-- Remplacez par le chemin de vos styles -->
    </head>
    <body>
        <div class="auth-container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
