{% extends 'security/authenticate.html.twig' %}

{% block body %}
    <div class="login-container">
        <h1>Connexion</h1>
        <form action="{{ path('login') }}" method="post">
            <label for="email">Email :</label>
            <input type="text" name="_username" id="email" required>
            
            <label for="password">Mot de passe :</label>
            <input type="password" name="_password" id="password" required>
            
            <button type="submit">Se connecter</button>
        </form>
    </div>
{% endblock %}