{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<div class="profile-container">
    <h1>Mon Profil</h1>
    {% if app.user %}
        <div class="profile-info">
            <p>Email : {{ app.user.email }}</p>
            <!-- Ajoutez d'autres informations du profil ici -->
        </div>
    {% endif %}
</div>
{% endblock %}
