{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <section>
        <h1>Demande de réinitialisation de mot de passe</h1>
        {{ form_start(requestPassForm)}}
            {{ form_row(requestPassForm.email)}}

            <button type='submit' class='submit-btn'>Envoyer</button>
        {{ form_end(requestPassForm)}}
    </section>
{% endblock %}