{% extends 'base.html.twig' %}

{% block title %}À propos - regards singuliers
{% endblock %}

{% block body %}
	<div class="container">
		<h1>À propos de nous</h1>
		<p>Découvrez notre histoire, notre vision et notre approche du design d'intérieur.</p>
	</div>
{% endblock %}
