{% extends 'base.html.twig' %}

{% block title %}Contact - Regards Singuliers{% endblock %}

{% block body %}
<div class="container">
    <h1>Contactez-nous</h1>
    <p>N'hésitez pas à nous contacter pour toute question ou demande de devis.</p>
</div>
{% endblock %}
