{% extends 'base.html.twig' %}

{% block title %}regards singuliers - { studio d'aménagement d'intérieur } {% endblock %}

{% block body %}

    <article>
    
        <section class="carrousel">
        
            {# Ajouter le carrousel d'images reprenant les différents contenus récents #}
            {# Faire la requête DQL permettant de récupérer les 4 derniers contenus #}
                      
            <div class="image-container">
                <img src="{{ path('app_image', {'filename': 'IMG-ISSY.jpg'}) }}" alt="Salle à manger à Issy-les-Moulineaux">
                <div class="image-text">
                    <h2>ISSY-LES-MOULINEAUX</h2>
                    <p>2022</p>
                </div>
            </div>

        </section>


    </article>

{% endblock %}
