{% extends 'base.html.twig' %}

{% block title %}Accueil - regards singuliers{% endblock %}

{% block body %}
<div class="container">
    <h1>Bienvenue sur regards singuliers</h1>
    <p>Découvrez notre univers de design d'intérieur unique et personnalisé.</p>
</div>
{% endblock %}
