<h1>Confirmez votre adresse email</h1>

<p>Bonjour,</p>

<p>
	Merci de vous être inscrit sur Regards Singuliers. Pour finaliser votre inscription, veuillez confirmer votre adresse email en cliquant sur le lien ci-dessous :
</p>

<p>
	<a href="{{ signedUrl|raw }}">Confirmer mon adresse email</a>
</p>

<p>Ce lien expirera dans
	{{ expiresAtMessageKey|trans(expiresAtMessageData) }}.</p>

<p>
	Cordialement,<br>
	L'équipe Regards Singuliers
</p>
