{% extends 'base.html.twig' %}

{% block title %}regards singuliers - Prestations{% endblock %}

{% block body %}

    <article>
    
        <h2>Prestations</h2>
    
        <p>Retrouvez ci-dessous les prestations que nous proposons :</p>

        <section>
                <article>
                    <h3>{{ service.title }}</h3>
                    <p>{{ service.description }}</p>
                    <p>{{ service.price }}€ HT</p>
                    <a href="{{ path('app_reservation_create', {'id': service.id}) }}" 
                       class="inline-block bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition">
                       Réserver cette séance
                    </a>
                </article>
        </section>
    
    </article>

{% endblock %}
