{% extends 'base.html.twig' %}

{% block title %}Discussions{% endblock %}

{% block body %}
    <div class="container">
        <h1>Discussions</h1>
        
        {% if discussions is empty %}
            <p>No discussions found.</p>
        {% else %}
            <div class="discussions-list">
                {% for discussion in discussions %}
                    <div class="discussion-item">
                        {# Add discussion details here #}
                        {# Example: #}
                        {# {{ discussion.title }} #}
                        {# {{ discussion.content }} #}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
