{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <div class="canceled-container">
        <div class="canceled-content">
            <div class="error-icon">✕</div>
            <h1 class="canceled-title">Paiement annulé</h1>
            <p class="canceled-message">
                Le paiement a été annulé. Vous pouvez réessayer ou revenir à l'accueil.
            </p>
            <div>
                <a href="{{ path('reservation_payment', {slug: service.slug}) }}" class="retry-button">
                    Réessayer le paiement
                </a>
                <a href="{{ path('home') }}" class="home-button">
                    Retour à l'accueil
                </a>
            </div>
        </div>
    </div>
{% endblock %} 