{% extends 'base.html.twig' %}

{% block title %}regardes singuliers - réservations{% endblock %}

{% block body %}

    <article>
        <h2>{{ reservation.service.title }}</h2>
    </article>

{% endblock %}
