{% extends 'admin/base.html.twig' %}

{% block title %}Projets - Administration{% endblock %}

{% block body %}
<div class="admin-container">
    {% include 'admin/dashboard.html.twig' with {'active_page': 'projects'} %}
    <main class="admin-main">
        <div class="admin-header">
            <h1>Projets</h1>
        </div>
        <div class="admin-content">
            <p>Contenu de la page Projets</p>
        </div>
    </main>
</div>
{% endblock %}
