{% extends 'base.html.twig' %}

{% block title %}Réalisations - Regards Singuliers{% endblock %}

{% block body %}
<div class="container">
    <h1>Nos Réalisations</h1>
    <p>Découvrez nos projets et réalisations en design d'intérieur.</p>
</div>
{% endblock %}
