{% extends '@EasyAdmin/menu.html.twig' %}

{% block main_menu_before %}
    <div class="sidebar-header">
        <div class="logo">Regards Singuliers</div>
        <button class="sidebar-toggle">
            <i class="fas fa-bars"></i>
        </button>
    </div>
{% endblock %}
