{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <div class="page-container">
        <h2>Bienvenue au studio <em>regards singuliers</em> !</h2>

        <div class="studio-content">
            Je suis Priscilia Leote, architecte d'intérieur et vous accompagne depuis 2019 dans vos projets d'aménagement et de décoration. Basée dans le nord du Morbihan, à deux pas du lac de Guerlédan, j'interviens principalement en Bretagne, dans la rénovation du bâti ancien de la conception jusqu'à la mise en place finale du mobilier et de la décoration. 
            <br>
            <br>
            Selon la nature de votre projet, ma zone d'action peut être élargie à toute la France.  
        </div>
    </div>
{% endblock %}
