{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}


{% block body %}
<div class="confirmation-container">
    <div class="confirmation-content">
        <h1>Message envoyé avec succès</h1>
        <p>Je vous remercie pour votre message. Je vous répondrai dans les plus brefs délais.</p>
        <a href="{{ path('home') }}" class="back-btn">Retour à la page d'accueil</a>
    </div>
</div>
{% endblock %} 