{% if entity.instance.reservation %}
    <a href="{{ ea_url()
        .setController('App\\Controller\\Admin\\ReservationCrudController')
        .setAction('detail')
        .setEntityId(entity.instance.reservation.id)
    }}">
        {{ entity.instance.reservation.service.title }} - #{{ entity.instance.reservation.id }}
    </a>
{% else %}
    <span class="badge badge-secondary">Non défini</span>
{% endif %}
