{% extends 'base.html.twig' %}

{% block body %}
<div class="container payment-success">
    <div class="card">
        <div class="card-header bg-success text-white">
            <h2>Paiement Réussi !</h2>
        </div>
        <div class="card-body">
            <h3>{{ service.title }}</h3>
            <p>Votre paiement a été effectué avec succès.</p>
            
            <div class="calendly-section mt-4">
                <h4>Réservez maintenant votre rendez-vous</h4>
                {% if calendly_link %}
                    <a href="{{ calendly_link }}" class="btn btn-primary" target="_blank">
                        Réserver un créneau
                    </a>
                {% else %}
                    <div class="alert alert-warning">
                        Lien de réservation temporairement indisponible
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://js.stripe.com/v3/"></script>
<script>
const stripe = Stripe('{{ stripe_public_key }}');
console.log('Paiement confirmé avec Stripe');
</script>
{% endblock %}
